[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
